
body {
    transition: background-color 0.3s, color 0.3s;
}

.card {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .card-title {
    color: #ffffff;
}

.dark-mode .card-text .text-muted {
    color: #a0a0a0 !important;
}

.dark-mode .form-check-label {
    color: #ffffff;
}

.dark-mode h1 {
    color: #ffffff;
}
